<div *ngIf="!loading">
    <article class="post">
        <header>
            <div class="title">
                <h2><a [routerLink]="['/article', article.id, 'view']">{{article.title}}</p>
            </div>
            <div class="meta">
                <time class="published" datetime="2015-10-25">{{article.createdDate | date}}</time>
                <a href="#" class="author"><span class="name">{{article.createdBy}}</span>
                    <!-- <img src="../../content/images/avatar.jpg" alt="" /> -->
                </a>
            </div>
        </header>
        
        <a [routerLink]="['/article', article.id, 'view']" class="image featured">
            <img [src]="'data:' + article.imageContentType + ';base64,' + article.image"  alt="article image"/>
        </a>

        <div [innerHTML]="article.content"></div>
    </article>
</div>

<div *ngIf="loading">
    <div *ngFor="let spinner of spinners" fxFlex.xs="40" class="container" fxFlex="135px">
        <div class="ngx-foreground-spinner spinner-container">
            <div [class]="spinner.class">
            <div *ngFor="let div of spinner.divs"></div>
            </div>
        </div>
    </div>
</div>