<div id="wrapper">

    <div>
        <router-outlet name="navbar"></router-outlet>
    </div>

    <!-- Main -->
    <div id="main">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
    </div>
    
    <!-- Sidebar -->
    <section id="sidebar">
    
        <!-- Intro -->
            <section id="intro">
                <a href="#" class="logo"><img src="../../../content/images/favicon.png" alt="" /></a>
                <header>
                    <h2>Foodvel</h2>
                    <p>Website yang berisi artikel menarik seputar travel, tempat makan dan hotel</p>
                </header>
            </section>
    
        <!-- Mini Posts -->
            <section>
                <div class="mini-posts">
    
                    <!-- Mini Post -->
                    <div *ngIf="!loading">
                        <article class="mini-post" *ngFor="let article of articles ;trackBy: trackId">
                            <header>
                                <h3><a [routerLink]="['/article', article.id, 'view']">{{article.title}}</a></h3>
                                <time class="published" datetime="2015-10-20">{{article.createdDate | date}}</time>
                                <a href="#" class="author">
                                    {{article.createdBy}}
                                </a>
                            </header>
                            <a [routerLink]="['/article', article.id, 'view']" class="image"><img [src]="'data:' + article.imageContentType + ';base64,' + article.image"  alt="article image"/></a>
                        </article>
                    </div>
                    <div *ngIf="loading">
                        <div *ngFor="let spinner of spinners" fxFlex.xs="40" class="container" fxFlex="135px">
                            <div class="ngx-foreground-spinner spinner-container">
                                <div [class]="spinner.class">
                                <div *ngFor="let div of spinner.divs"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
        <!-- About -->
            <section class="blurb">
                <h2>About</h2>
                <p>Foodvel adalah sebuah website yang berisi informasi seputar kuliner, tempat makan menarik, tempat traveling, destinasi liburan yang menarik, dan lain-lain</p>
                <ul class="actions">
                    <li><a href="#" class="button">Learn More</a></li>
                </ul>
            </section>
    
        <!-- Footer -->
            <section id="footer">
                <ul class="icons">
                    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
                    <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
            </section>
    
    </section>
    
</div>



<!-- <jhi-page-ribbon></jhi-page-ribbon>
<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div class="container-fluid">
    <div class="card jh-card">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
    </div>
    <jhi-footer></jhi-footer>
</div> -->
