<!-- Post -->
<div *ngIf="!loading">
    <article class="post" *ngFor="let article of articles;trackBy: trackId">
        <header>
            <div class="title">
                <h2><a [routerLink]="['/article', article.id, 'view']">{{article.title}}</p>
            </div>
            <div class="meta">
                <time class="published" datetime="2015-10-25">{{article.createdDate | date}}</time>
                <a href="#" class="author"><span class="name">{{article.createdBy}}</span>
                    <!-- <img src="../../content/images/avatar.jpg" alt="" /> -->
                </a>
            </div>
        </header>
        
        <a [routerLink]="['/article', article.id, 'view']" class="image featured">
            <img [src]="'data:' + article.imageContentType + ';base64,' + article.image"  alt="article image"/>
        </a>

        <div [innerHTML]="article.previewContent"></div>
        
        <footer>
            <ul class="actions">
                <li>
                    <a
                    
                            [routerLink]="['/article', article.id, 'view']"
                            class="button large">
                            Continue Reading
                </a>
                    <!-- <a href="single.html" class="button large">Continue Reading</a> -->
                </li>
            </ul>
            <!-- <ul class="stats">
                <li><a href="#">General</a></li>
                <li><a href="#" class="icon solid fa-heart">28</a></li>
                <li><a href="#" class="icon solid fa-comment">128</a></li>
            </ul> -->
        </footer>

        
    </article>
    <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>

<!-- Pagination -->
    <div *ngIf="articles && articles.length > 0 && !loading">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>

<div *ngIf="loading">
    <div *ngFor="let spinner of spinners" fxFlex.xs="40" class="container" fxFlex="135px">
        <div class="ngx-foreground-spinner spinner-container">
            <div [class]="spinner.class">
            <div *ngFor="let div of spinner.divs"></div>
            </div>
        </div>
    </div>
</div>

<!-- <ul class="actions pagination">
    <li><a href="" class="disabled button large previous">Previous Page</a></li>
    <li><a href="#" class="button large next">Next Page</a></li>
</ul> -->