@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/yeti/variables';
@import '~bootstrap/scss/variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

a {
  color: #533f03;
  font-weight: bold;
}

a:hover {
  color: #533f03;
  font-weight: bold;
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
  dd {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .row.jh-entity-details > {
    dt {
      margin-bottom: 15px;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding-left: 180px;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */



.mat-icon.mdi-24px {
  line-height: 24px;
  margin-right: 4px;
  margin-bottom: 3px;
}

// sk-ball-scale-multiple {{{
.sk-ball-scale-multiple,
.sk-ball-scale-multiple > div {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.sk-ball-scale-multiple {
  width: 100%;
  height: 100%;
  font-size: 0;
}

.sk-ball-scale-multiple > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}

.sk-ball-scale-multiple > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: ball-scale-multiple 1s 0s linear infinite;
     -moz-animation: ball-scale-multiple 1s 0s linear infinite;
       -o-animation: ball-scale-multiple 1s 0s linear infinite;
          animation: ball-scale-multiple 1s 0s linear infinite;
}

.sk-ball-scale-multiple > div:nth-child(2) {
  -webkit-animation-delay: .2s;
     -moz-animation-delay: .2s;
       -o-animation-delay: .2s;
          animation-delay: .2s;
}

.sk-ball-scale-multiple > div:nth-child(3) {
  -webkit-animation-delay: .4s;
     -moz-animation-delay: .4s;
       -o-animation-delay: .4s;
          animation-delay: .4s;
}

@-webkit-keyframes ball-scale-multiple {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  5% {
    opacity: .75;
    }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-moz-keyframes ball-scale-multiple {
  0% {
    opacity: 0;
    -moz-transform: scale(0);
         transform: scale(0);
  }
  5% {
      opacity: .75;
  }
  100% {
      opacity: 0;
      -moz-transform: scale(1);
           transform: scale(1);
  }
}
@-o-keyframes ball-scale-multiple {
  0% {
    opacity: 0;
    -o-transform: scale(0);
       transform: scale(0);
  }
  5% {
    opacity: .75;
  }
  100% {
    opacity: 0;
    -o-transform: scale(1);
       transform: scale(1);
  }
}
@keyframes ball-scale-multiple {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
  }
  5% {
    opacity: .75;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}
// sk-ball-scale-multiple }}}

// sk-ball-spin {{{
.sk-ball-spin,
.sk-ball-spin > div {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.sk-ball-spin {
  width: 100%;
  height: 100%;
  font-size: 0;
}

.sk-ball-spin > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}

.sk-ball-spin > div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25%;
  height: 25%;
  margin-top: -12.5%;
  margin-left: -12.5%;
  border-radius: 100%;
  -webkit-animation: ball-spin-clockwise 1s infinite ease-in-out;
     -moz-animation: ball-spin-clockwise 1s infinite ease-in-out;
       -o-animation: ball-spin-clockwise 1s infinite ease-in-out;
          animation: ball-spin-clockwise 1s infinite ease-in-out;
}

.sk-ball-spin > div:nth-child(1) {
  top: 5%;
  left: 50%;
  -webkit-animation-delay: -1.125s;
     -moz-animation-delay: -1.125s;
       -o-animation-delay: -1.125s;
          animation-delay: -1.125s;
}

.sk-ball-spin > div:nth-child(2) {
  top: 18.1801948466%;
  left: 81.8198051534%;
  -webkit-animation-delay: -1.25s;
     -moz-animation-delay: -1.25s;
       -o-animation-delay: -1.25s;
          animation-delay: -1.25s;
}

.sk-ball-spin > div:nth-child(3) {
  top: 50%;
  left: 95%;
  -webkit-animation-delay: -1.375s;
     -moz-animation-delay: -1.375s;
       -o-animation-delay: -1.375s;
          animation-delay: -1.375s;
}

.sk-ball-spin > div:nth-child(4) {
  top: 81.8198051534%;
  left: 81.8198051534%;
  -webkit-animation-delay: -1.5s;
     -moz-animation-delay: -1.5s;
       -o-animation-delay: -1.5s;
          animation-delay: -1.5s;
}

.sk-ball-spin > div:nth-child(5) {
  top: 94.9999999966%;
  left: 50.0000000005%;
  -webkit-animation-delay: -1.625s;
     -moz-animation-delay: -1.625s;
       -o-animation-delay: -1.625s;
          animation-delay: -1.625s;
}

.sk-ball-spin > div:nth-child(6) {
  top: 81.8198046966%;
  left: 18.1801949248%;
  -webkit-animation-delay: -1.75s;
     -moz-animation-delay: -1.75s;
       -o-animation-delay: -1.75s;
          animation-delay: -1.75s;
}

.sk-ball-spin > div:nth-child(7) {
  top: 49.9999750815%;
  left: 5.0000051215%;
  -webkit-animation-delay: -1.875s;
     -moz-animation-delay: -1.875s;
       -o-animation-delay: -1.875s;
          animation-delay: -1.875s;
}

.sk-ball-spin > div:nth-child(8) {
  top: 18.179464974%;
  left: 18.1803700518%;
  -webkit-animation-delay: -2s;
     -moz-animation-delay: -2s;
       -o-animation-delay: -2s;
          animation-delay: -2s;
}

@-webkit-keyframes ball-spin {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-moz-keyframes ball-spin {
  0%,
  100% {
    opacity: 1;
    -moz-transform: scale(1);
         transform: scale(1);
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    -moz-transform: scale(0);
         transform: scale(0);
  }
}
@-o-keyframes ball-spin {
  0%,
  100% {
    opacity: 1;
      -o-transform: scale(1);
         transform: scale(1);
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    -o-transform: scale(0);
       transform: scale(0);
  }
}
@keyframes ball-spin {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
  }
}
// sk-ball-spin }}}

// sk-ball-spin-clockwise {{{
.sk-ball-spin-clockwise,
.sk-ball-spin-clockwise > div {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.sk-ball-spin-clockwise {
  width: 100%;
  height: 100%;
  font-size: 0;
}

.sk-ball-spin-clockwise > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}

.sk-ball-spin-clockwise > div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25%;
  height: 25%;
  margin-top: -12.5%;
  margin-left: -12.5%;
  border-radius: 100%;
  -webkit-animation: ball-spin-clockwise 1s infinite ease-in-out;
     -moz-animation: ball-spin-clockwise 1s infinite ease-in-out;
       -o-animation: ball-spin-clockwise 1s infinite ease-in-out;
          animation: ball-spin-clockwise 1s infinite ease-in-out;
}

.sk-ball-spin-clockwise > div:nth-child(1) {
  top: 5%;
  left: 50%;
  -webkit-animation-delay: -.875s;
     -moz-animation-delay: -.875s;
       -o-animation-delay: -.875s;
          animation-delay: -.875s;
}

.sk-ball-spin-clockwise > div:nth-child(2) {
  top: 18.1801948466%;
  left: 81.8198051534%;
  -webkit-animation-delay: -.75s;
     -moz-animation-delay: -.75s;
       -o-animation-delay: -.75s;
          animation-delay: -.75s;
}

.sk-ball-spin-clockwise > div:nth-child(3) {
  top: 50%;
  left: 95%;
  -webkit-animation-delay: -.625s;
     -moz-animation-delay: -.625s;
       -o-animation-delay: -.625s;
          animation-delay: -.625s;
}

.sk-ball-spin-clockwise > div:nth-child(4) {
  top: 81.8198051534%;
  left: 81.8198051534%;
  -webkit-animation-delay: -.5s;
     -moz-animation-delay: -.5s;
       -o-animation-delay: -.5s;
          animation-delay: -.5s;
}

.sk-ball-spin-clockwise > div:nth-child(5) {
  top: 94.9999999966%;
  left: 50.0000000005%;
  -webkit-animation-delay: -.375s;
     -moz-animation-delay: -.375s;
       -o-animation-delay: -.375s;
          animation-delay: -.375s;
}

.sk-ball-spin-clockwise > div:nth-child(6) {
  top: 81.8198046966%;
  left: 18.1801949248%;
  -webkit-animation-delay: -.25s;
     -moz-animation-delay: -.25s;
       -o-animation-delay: -.25s;
          animation-delay: -.25s;
}

.sk-ball-spin-clockwise > div:nth-child(7) {
  top: 49.9999750815%;
  left: 5.0000051215%;
  -webkit-animation-delay: -.125s;
     -moz-animation-delay: -.125s;
       -o-animation-delay: -.125s;
          animation-delay: -.125s;
}

.sk-ball-spin-clockwise > div:nth-child(8) {
  top: 18.179464974%;
  left: 18.1803700518%;
  -webkit-animation-delay: 0s;
     -moz-animation-delay: 0s;
       -o-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes ball-spin-clockwise {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-moz-keyframes ball-spin-clockwise {
  0%,
  100% {
    opacity: 1;
    -moz-transform: scale(1);
         transform: scale(1);
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    -moz-transform: scale(0);
         transform: scale(0);
  }
}
@-o-keyframes ball-spin-clockwise {
  0%,
  100% {
    opacity: 1;
    -o-transform: scale(1);
       transform: scale(1);
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    -o-transform: scale(0);
       transform: scale(0);
  }
}
@keyframes ball-spin-clockwise {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
  }
}
// sk-ball-spin-clockwise }}}

// sk-ball-spin-clockwise-fade-rotating {{{
.sk-ball-spin-clockwise-fade-rotating,
.sk-ball-spin-clockwise-fade-rotating > div {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.sk-ball-spin-clockwise-fade-rotating {
font-size: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: ball-spin-clockwise-fade-rotating-rotate 6s infinite linear;
     -moz-animation: ball-spin-clockwise-fade-rotating-rotate 6s infinite linear;
       -o-animation: ball-spin-clockwise-fade-rotating-rotate 6s infinite linear;
          animation: ball-spin-clockwise-fade-rotating-rotate 6s infinite linear;
}

.sk-ball-spin-clockwise-fade-rotating > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}

.sk-ball-spin-clockwise-fade-rotating > div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25%;
  height: 25%;
  margin-top: -12.5%;
  margin-left: -12.5%;
  border-radius: 100%;
  -webkit-animation: ball-spin-clockwise-fade-rotating 1s infinite linear;
     -moz-animation: ball-spin-clockwise-fade-rotating 1s infinite linear;
       -o-animation: ball-spin-clockwise-fade-rotating 1s infinite linear;
          animation: ball-spin-clockwise-fade-rotating 1s infinite linear;
}

.sk-ball-spin-clockwise-fade-rotating > div:nth-child(1) {
  top: 5%;
  left: 50%;
  -webkit-animation-delay: -.875s;
     -moz-animation-delay: -.875s;
       -o-animation-delay: -.875s;
          animation-delay: -.875s;
}

.sk-ball-spin-clockwise-fade-rotating > div:nth-child(2) {
  top: 18.1801948466%;
  left: 81.8198051534%;
  -webkit-animation-delay: -.75s;
     -moz-animation-delay: -.75s;
       -o-animation-delay: -.75s;
          animation-delay: -.75s;
}

.sk-ball-spin-clockwise-fade-rotating > div:nth-child(3) {
  top: 50%;
  left: 95%;
  -webkit-animation-delay: -.625s;
     -moz-animation-delay: -.625s;
       -o-animation-delay: -.625s;
          animation-delay: -.625s;
}

.sk-ball-spin-clockwise-fade-rotating > div:nth-child(4) {
  top: 81.8198051534%;
  left: 81.8198051534%;
  -webkit-animation-delay: -.5s;
     -moz-animation-delay: -.5s;
       -o-animation-delay: -.5s;
          animation-delay: -.5s;
}

.sk-ball-spin-clockwise-fade-rotating > div:nth-child(5) {
  top: 94.9999999966%;
  left: 50.0000000005%;
  -webkit-animation-delay: -.375s;
     -moz-animation-delay: -.375s;
       -o-animation-delay: -.375s;
          animation-delay: -.375s;
}

.sk-ball-spin-clockwise-fade-rotating > div:nth-child(6) {
  top: 81.8198046966%;
  left: 18.1801949248%;
  -webkit-animation-delay: -.25s;
     -moz-animation-delay: -.25s;
       -o-animation-delay: -.25s;
          animation-delay: -.25s;
}

.sk-ball-spin-clockwise-fade-rotating > div:nth-child(7) {
  top: 49.9999750815%;
  left: 5.0000051215%;
  -webkit-animation-delay: -.125s;
     -moz-animation-delay: -.125s;
       -o-animation-delay: -.125s;
          animation-delay: -.125s;
}

.sk-ball-spin-clockwise-fade-rotating > div:nth-child(8) {
  top: 18.179464974%;
  left: 18.1803700518%;
  -webkit-animation-delay: 0s;
     -moz-animation-delay: 0s;
       -o-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes ball-spin-clockwise-fade-rotating-rotate {
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@-moz-keyframes ball-spin-clockwise-fade-rotating-rotate {
  100% {
    -moz-transform: rotate(-360deg);
         transform: rotate(-360deg);
  }
}
@-o-keyframes ball-spin-clockwise-fade-rotating-rotate {
  100% {
    -o-transform: rotate(-360deg);
       transform: rotate(-360deg);
  }
}
@keyframes ball-spin-clockwise-fade-rotating-rotate {
  100% {
    -webkit-transform: rotate(-360deg);
       -moz-transform: rotate(-360deg);
         -o-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes ball-spin-clockwise-fade-rotating {
  50% {
    opacity: .25;
    -webkit-transform: scale(.5);
            transform: scale(.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-moz-keyframes ball-spin-clockwise-fade-rotating {
  50% {
    opacity: .25;
    -moz-transform: scale(.5);
         transform: scale(.5);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
         transform: scale(1);
  }
}

@-o-keyframes ball-spin-clockwise-fade-rotating {
  50% {
    opacity: .25;
    -o-transform: scale(.5);
       transform: scale(.5);
  }
  100% {
    opacity: 1;
    -o-transform: scale(1);
       transform: scale(1);
  }
}

@keyframes ball-spin-clockwise-fade-rotating {
  50% {
    opacity: .25;
    -webkit-transform: scale(.5);
       -moz-transform: scale(.5);
         -o-transform: scale(.5);
            transform: scale(.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}
// sk-ball-spin-clockwise-fade-rotating }}}

// sk-ball-spin-fade-rotating {{{
.sk-ball-spin-fade-rotating,
.sk-ball-spin-fade-rotating > div {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.sk-ball-spin-fade-rotating {
  width: 100%;
  height: 100%;
  font-size: 0;
  -webkit-animation: ball-spin-fade-rotate 6s infinite linear;
     -moz-animation: ball-spin-fade-rotate 6s infinite linear;
       -o-animation: ball-spin-fade-rotate 6s infinite linear;
          animation: ball-spin-fade-rotate 6s infinite linear;
}

.sk-ball-spin-fade-rotating > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}

.sk-ball-spin-fade-rotating > div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25%;
  height: 25%;
  margin-top: -12.5%;
  margin-left: -12.5%;
  border-radius: 100%;
  -webkit-animation: ball-spin-fade 1s infinite linear;
     -moz-animation: ball-spin-fade 1s infinite linear;
       -o-animation: ball-spin-fade 1s infinite linear;
          animation: ball-spin-fade 1s infinite linear;
}

.sk-ball-spin-fade-rotating > div:nth-child(1) {
  top: 5%;
  left: 50%;
  -webkit-animation-delay: -1.125s;
     -moz-animation-delay: -1.125s;
       -o-animation-delay: -1.125s;
          animation-delay: -1.125s;
}

.sk-ball-spin-fade-rotating > div:nth-child(2) {
  top: 18.1801948466%;
  left: 81.8198051534%;
  -webkit-animation-delay: -1.25s;
     -moz-animation-delay: -1.25s;
       -o-animation-delay: -1.25s;
          animation-delay: -1.25s;
}

.sk-ball-spin-fade-rotating > div:nth-child(3) {
  top: 50%;
  left: 95%;
  -webkit-animation-delay: -1.375s;
     -moz-animation-delay: -1.375s;
       -o-animation-delay: -1.375s;
          animation-delay: -1.375s;
}

.sk-ball-spin-fade-rotating > div:nth-child(4) {
  top: 81.8198051534%;
  left: 81.8198051534%;
  -webkit-animation-delay: -1.5s;
     -moz-animation-delay: -1.5s;
       -o-animation-delay: -1.5s;
          animation-delay: -1.5s;
}

.sk-ball-spin-fade-rotating > div:nth-child(5) {
  top: 94.9999999966%;
  left: 50.0000000005%;
  -webkit-animation-delay: -1.625s;
     -moz-animation-delay: -1.625s;
       -o-animation-delay: -1.625s;
          animation-delay: -1.625s;
}

.sk-ball-spin-fade-rotating > div:nth-child(6) {
  top: 81.8198046966%;
  left: 18.1801949248%;
  -webkit-animation-delay: -1.75s;
     -moz-animation-delay: -1.75s;
       -o-animation-delay: -1.75s;
          animation-delay: -1.75s;
}

.sk-ball-spin-fade-rotating > div:nth-child(7) {
  top: 49.9999750815%;
  left: 5.0000051215%;
  -webkit-animation-delay: -1.875s;
     -moz-animation-delay: -1.875s;
       -o-animation-delay: -1.875s;
          animation-delay: -1.875s;
}

.sk-ball-spin-fade-rotating > div:nth-child(8) {
  top: 18.179464974%;
  left: 18.1803700518%;
  -webkit-animation-delay: -2s;
     -moz-animation-delay: -2s;
       -o-animation-delay: -2s;
          animation-delay: -2s;
}

@-webkit-keyframes ball-spin-fade-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-moz-keyframes ball-spin-fade-rotate {
  100% {
    -moz-transform: rotate(360deg);
         transform: rotate(360deg);
  }
}
@-o-keyframes ball-spin-fade-rotate {
  100% {
    -o-transform: rotate(360deg);
       transform: rotate(360deg);
  }
}
@keyframes ball-spin-fade-rotate {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes ball-spin-fade {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: .25;
    -webkit-transform: scale(.5);
            transform: scale(.5);
  }
}

@-moz-keyframes ball-spin-fade {
  0%,
  100% {
    opacity: 1;
    -moz-transform: scale(1);
         transform: scale(1);
  }
  50% {
    opacity: .25;
    -moz-transform: scale(.5);
         transform: scale(.5);
  }
}

@-o-keyframes ball-spin-fade {
  0%,
  100% {
    opacity: 1;
    -o-transform: scale(1);
       transform: scale(1);
  }
  50% {
    opacity: .25;
    -o-transform: scale(.5);
       transform: scale(.5);
  }
}

@keyframes ball-spin-fade {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: .25;
    -webkit-transform: scale(.5);
       -moz-transform: scale(.5);
         -o-transform: scale(.5);
            transform: scale(.5);
  }
}
// sk-ball-spin-fade-rotating }}}


// sk-chasing-dots {{{
.sk-chasing-dots {
  margin: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  
  -webkit-animation: sk-chasingDots-rotate 2.0s infinite linear;
  animation: sk-chasingDots-rotate 2.0s infinite linear;
}

.sk-chasing-dots > div {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: currentColor;
  border-radius: 100%;
  
  -webkit-animation: sk-chasingDots-bounce 2.0s infinite ease-in-out;
  animation: sk-chasingDots-bounce 2.0s infinite ease-in-out;
}

.sk-chasing-dots > div:nth-child(2) {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
  
@-webkit-keyframes sk-chasingDots-rotate {
  100% {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes sk-chasingDots-rotate {
  100% { 
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-chasingDots-bounce {
  0%, 100% {
    -webkit-transform: scale(0.0);
        -ms-transform: scale(0.0);
            transform: scale(0.0);
  }
  50% {
    -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
            transform: scale(1.0);
  }
}
@keyframes sk-chasingDots-bounce {
  0%, 100% { 
    -webkit-transform: scale(0.0);
        -ms-transform: scale(0.0);
            transform: scale(0.0);
  } 50% { 
    -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
            transform: scale(1.0);
  }
}
// sk-chasing-dots }}}

// sk-circle {{{
.sk-circle {
  margin: auto;
  width: 100%;
  height: 100%;
  position: relative;
}
.sk-circle > div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle > div::before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: currentColor;
  border-radius: 100%;
  -webkit-animation: sk-circle-bounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circle-bounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle > div:nth-child(2) {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle > div:nth-child(3) {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle > div:nth-child(4) {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle > div:nth-child(5) {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle > div:nth-child(6) {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle > div:nth-child(7) {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle > div:nth-child(8) {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle > div:nth-child(9) {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle > div:nth-child(10) {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle > div:nth-child(11) {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle > div:nth-child(12) {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle > div:nth-child(2)::before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle > div:nth-child(3)::before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle > div:nth-child(4)::before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle > div:nth-child(5)::before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle > div:nth-child(6)::before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle > div:nth-child(7)::before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle > div:nth-child(8)::before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle > div:nth-child(9)::before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle > div:nth-child(10)::before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle > div:nth-child(11)::before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle > div:nth-child(12)::before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circle-bounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes sk-circle-bounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}
// sk-circle }}}

// sk-cube-grid {{{
.sk-cube-grid {
  width: 100%;
  height: 100%;
  margin: auto;
}

.sk-cube-grid > div {
  width: 33%;
  height: 33%;
  background-color: currentColor;
  float: left;
  -webkit-animation: sk-cubeGrid-scaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGrid-scaleDelay 1.3s infinite ease-in-out; 
} 
.sk-cube-grid > div:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid > div:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid > div:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid > div:nth-child(4) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid > div:nth-child(5) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid > div:nth-child(6) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid > div:nth-child(7) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid > div:nth-child(8) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid > div:nth-child(9) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGrid-scaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
        -ms-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1); 
        -ms-transform: scale3D(0, 0, 1); 
            transform: scale3D(0, 0, 1); 
  }
}
@keyframes sk-cubeGrid-scaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
        -ms-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
        -ms-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
// sk-cube-grid }}}

// sk-double-bounce {{{
.sk-double-bounce {
  width: 100%;
  height: 100%;

  position: relative;
  margin: auto;
}

.sk-double-bounce > div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: currentColor;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-doubleBounce-bounce 2.0s infinite ease-in-out;
          animation: sk-doubleBounce-bounce 2.0s infinite ease-in-out;
}

.sk-double-bounce > div:nth-child(2) {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-doubleBounce-bounce {
  0%, 100% {
    -webkit-transform: scale(0.0);
        -ms-transform: scale(0.0);
            transform: scale(0.0);
  }
  50% {
    -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
            transform: scale(1.0);
  }
}
@keyframes sk-doubleBounce-bounce {
  0%, 100% { 
    -webkit-transform: scale(0.0);
        -ms-transform: scale(0.0);
            transform: scale(0.0);
  } 50% { 
    -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
            transform: scale(1.0);
  }
}
// sk-double-bounce }}}

// sk-fading-circle {{{
.sk-fading-circle {
  margin: auto;
  width: 100%;
  height: 100%;
  position: relative;
}
  
.sk-fading-circle > div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle > div::before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: currentColor;
  border-radius: 100%;
  -webkit-animation: sk-fadingCircle-FadeDelay 1.2s infinite ease-in-out both;
          animation: sk-fadingCircle-FadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle > div:nth-child(2) {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle > div:nth-child(3) {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle > div:nth-child(4) {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle > div:nth-child(5) {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle > div:nth-child(6) {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle > div:nth-child(7) {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle > div:nth-child(8) {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle > div:nth-child(9) {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle > div:nth-child(10) {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle > div:nth-child(11) {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); 
}
.sk-fading-circle > div:nth-child(12) {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); 
}
.sk-fading-circle > div:nth-child(2)::before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; 
}
.sk-fading-circle > div:nth-child(3)::before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; 
}
.sk-fading-circle > div:nth-child(4)::before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; 
}
.sk-fading-circle > div:nth-child(5)::before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; 
}
.sk-fading-circle > div:nth-child(6)::before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; 
}
.sk-fading-circle > div:nth-child(7)::before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; 
}
.sk-fading-circle > div:nth-child(8)::before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; 
}
.sk-fading-circle > div:nth-child(9)::before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle > div:nth-child(10)::before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle > div:nth-child(11)::before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle > div:nth-child(12)::before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}
  
@-webkit-keyframes sk-fadingCircle-FadeDelay {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes sk-fadingCircle-FadeDelay {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  } 
}
// sk-fading-circle }}}

// sk-folding-cube {{{
.sk-folding-cube {
  margin: auto;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube > div {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube > div::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  -webkit-animation: sk-foldingCube-angle 2.4s infinite linear both;
          animation: sk-foldingCube-angle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube > div:nth-child(2) {
  -webkit-transform: scale(1.1) rotateZ(90deg);
      -ms-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube > div:nth-child(3) {
  -webkit-transform: scale(1.1) rotateZ(270deg);
      -ms-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube > div:nth-child(4) {
  -webkit-transform: scale(1.1) rotateZ(180deg);
      -ms-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube > div:nth-child(2)::before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube > div:nth-child(3)::before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.sk-folding-cube > div:nth-child(4)::before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
@-webkit-keyframes sk-foldingCube-angle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
        -ms-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
        -ms-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
        -ms-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}
@keyframes sk-foldingCube-angle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
        -ms-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
        -ms-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
        -ms-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}
// sk-folding-cube }}}

// sk-pulse {{{
.sk-pulse {
  width: 100%;
  height: 100%;
  margin: auto;
}

.sk-pulse > div {
  width: 100%;
  height: 100%;
  background-color: currentColor;

  border-radius: 100%;  
  -webkit-animation: sk-pulse-scaleOut 1.0s infinite ease-in-out;
  animation: sk-pulse-scaleOut 1.0s infinite ease-in-out;
}
  
@-webkit-keyframes sk-pulse-scaleOut {
  0% {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
            transform: scale(1.0);
    opacity: 0;
  }
}
@keyframes sk-pulse-scaleOut {
  0% { 
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
            transform: scale(1.0);
    opacity: 0;
  }
}
// sk-pulse }}}

// sk-rectangle-bounce {{{
.sk-rectangle-bounce {
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 0;
}

.sk-rectangle-bounce > div {
  background-color: currentColor;
  height: 100%;
  width: 10%;
  margin: 0 5%;
  display: inline-block;
  
  -webkit-animation: sk-rectangleBounce-stretchDelay 1.2s infinite ease-in-out;
          animation: sk-rectangleBounce-stretchDelay 1.2s infinite ease-in-out;
}

.sk-rectangle-bounce > div:nth-child(2) {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

.sk-rectangle-bounce > div:nth-child(3) {
  -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
}

.sk-rectangle-bounce > div:nth-child(4) {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.sk-rectangle-bounce > div:nth-child(5) {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

@-webkit-keyframes sk-rectangleBounce-stretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
        -ms-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }  
  20% {
    -webkit-transform: scaleY(1.0);
        -ms-transform: scaleY(1.0);
            transform: scaleY(1.0);
  }
}
@keyframes sk-rectangleBounce-stretchDelay {
  0%, 40%, 100% { 
    -webkit-transform: scaleY(0.4);
        -ms-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }  20% { 
    -webkit-transform: scaleY(1.0);
        -ms-transform: scaleY(1.0);
            transform: scaleY(1.0);
  }
}
// sk-rectangle-bounce }}}

// sk-rectangle-bounce {{{
.sk-rectangle-bounce-party,
.sk-rectangle-bounce-party > div {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.sk-rectangle-bounce-party {
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 0;
}

.sk-rectangle-bounce-party > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}

.sk-rectangle-bounce-party > div {
  width: 10%;
  height: 100%;
  margin: 0 5%;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
  -webkit-animation-name: rectangle-bounce-party;
     -moz-animation-name: rectangle-bounce-party;
       -o-animation-name: rectangle-bounce-party;
          animation-name: rectangle-bounce-party;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.sk-rectangle-bounce-party > div:nth-child(1) {
  -webkit-animation-duration: .43s;
     -moz-animation-duration: .43s;
       -o-animation-duration: .43s;
          animation-duration: .43s;
  -webkit-animation-delay: -.23s;
     -moz-animation-delay: -.23s;
       -o-animation-delay: -.23s;
          animation-delay: -.23s;
}

.sk-rectangle-bounce-party > div:nth-child(2) {
  -webkit-animation-duration: .62s;
     -moz-animation-duration: .62s;
       -o-animation-duration: .62s;
          animation-duration: .62s;
  -webkit-animation-delay: -.32s;
     -moz-animation-delay: -.32s;
       -o-animation-delay: -.32s;
          animation-delay: -.32s;
}

.sk-rectangle-bounce-party > div:nth-child(3) {
  -webkit-animation-duration: .43s;
     -moz-animation-duration: .43s;
       -o-animation-duration: .43s;
          animation-duration: .43s;
  -webkit-animation-delay: -.44s;
     -moz-animation-delay: -.44s;
       -o-animation-delay: -.44s;
          animation-delay: -.44s;
}

.sk-rectangle-bounce-party > div:nth-child(4) {
  -webkit-animation-duration: .8s;
     -moz-animation-duration: .8s;
       -o-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-animation-delay: -.31s;
     -moz-animation-delay: -.31s;
       -o-animation-delay: -.31s;
          animation-delay: -.31s;
}

.sk-rectangle-bounce-party > div:nth-child(5) {
  -webkit-animation-duration: .74s;
     -moz-animation-duration: .74s;
       -o-animation-duration: .74s;
          animation-duration: .74s;
  -webkit-animation-delay: -.24s;
     -moz-animation-delay: -.24s;
       -o-animation-delay: -.24s;
          animation-delay: -.24s;
}

@-webkit-keyframes rectangle-bounce-party {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(.4);
            transform: scaleY(.4);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@-moz-keyframes rectangle-bounce-party {
  0% {
    -moz-transform: scaleY(1);
         transform: scaleY(1);
  }
  50% {
    -moz-transform: scaleY(.4);
         transform: scaleY(.4);
  }
  100% {
    -moz-transform: scaleY(1);
         transform: scaleY(1);
  }
}
@-o-keyframes rectangle-bounce-party {
  0% {
    -o-transform: scaleY(1);
       transform: scaleY(1);
  }
  50% {
    -o-transform: scaleY(.4);
       transform: scaleY(.4);
  }
  100% {
    -o-transform: scaleY(1);
       transform: scaleY(1);
  }
}
@keyframes rectangle-bounce-party {
  0% {
    -webkit-transform: scaleY(1);
       -moz-transform: scaleY(1);
         -o-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(.4);
       -moz-transform: scaleY(.4);
         -o-transform: scaleY(.4);
            transform: scaleY(.4);
  }
  100% {
    -webkit-transform: scaleY(1);
       -moz-transform: scaleY(1);
         -o-transform: scaleY(1);
            transform: scaleY(1);
  }
}
// sk-rectangle-bounce-party }}}

// sk-rectangle-bounce-pulse-out {{{
.sk-rectangle-bounce-pulse-out,
.sk-rectangle-bounce-pulse-out > div {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.sk-rectangle-bounce-pulse-out {
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 0;
}

.sk-rectangle-bounce-pulse-out > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}

.sk-rectangle-bounce-pulse-out > div {
  width: 10%;
  height: 100%;
  margin: 0 5%;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
  -webkit-animation: rectangle-bounce-pulse-out .9s infinite cubic-bezier(.85, .25, .37, .85);
     -moz-animation: rectangle-bounce-pulse-out .9s infinite cubic-bezier(.85, .25, .37, .85);
       -o-animation: rectangle-bounce-pulse-out .9s infinite cubic-bezier(.85, .25, .37, .85);
          animation: rectangle-bounce-pulse-out .9s infinite cubic-bezier(.85, .25, .37, .85);
}

.sk-rectangle-bounce-pulse-out > div:nth-child(3) {
  -webkit-animation-delay: -.9s;
     -moz-animation-delay: -.9s;
       -o-animation-delay: -.9s;
          animation-delay: -.9s;
}

.sk-rectangle-bounce-pulse-out > div:nth-child(2),
.sk-rectangle-bounce-pulse-out > div:nth-child(4) {
  -webkit-animation-delay: -.7s;
     -moz-animation-delay: -.7s;
       -o-animation-delay: -.7s;
          animation-delay: -.7s;
}

.sk-rectangle-bounce-pulse-out > div:nth-child(1),
.sk-rectangle-bounce-pulse-out > div:nth-child(5) {
  -webkit-animation-delay: -.5s;
     -moz-animation-delay: -.5s;
       -o-animation-delay: -.5s;
          animation-delay: -.5s;
}

@-webkit-keyframes rectangle-bounce-pulse-out {
  0% {
    -webkit-transform: scaley(1);
            transform: scaley(1);
  }
  50% {
    -webkit-transform: scaley(.4);
            transform: scaley(.4);
    }
  100% {
    -webkit-transform: scaley(1);
            transform: scaley(1);
  }
}
@-moz-keyframes rectangle-bounce-pulse-out {
  0% {
    -moz-transform: scaley(1);
         transform: scaley(1);
    }
  50% {
    -moz-transform: scaley(.4);
         transform: scaley(.4);
  }
  100% {
    -moz-transform: scaley(1);
         transform: scaley(1);
  }
}
@-o-keyframes rectangle-bounce-pulse-out {
  0% {
    -o-transform: scaley(1);
       transform: scaley(1);
  }
  50% {
    -o-transform: scaley(.4);
       transform: scaley(.4);
  }
  100% {
    -o-transform: scaley(1);
       transform: scaley(1);
  }
}
@keyframes rectangle-bounce-pulse-out {
  0% {
    -webkit-transform: scaley(1);
       -moz-transform: scaley(1);
         -o-transform: scaley(1);
            transform: scaley(1);
  }
  50% {
    -webkit-transform: scaley(.4);
       -moz-transform: scaley(.4);
         -o-transform: scaley(.4);
            transform: scaley(.4);
  }
  100% {
    -webkit-transform: scaley(1);
       -moz-transform: scaley(1);
         -o-transform: scaley(1);
            transform: scaley(1);
  }
}
// sk-rectangle-bounce-pulse-out {{{

// sk-rectangle-bounce-pulse-out-rapid {{{
.sk-rectangle-bounce-pulse-out-rapid,
.sk-rectangle-bounce-pulse-out-rapid > div {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.sk-rectangle-bounce-pulse-out-rapid {
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 0;
}

.sk-rectangle-bounce-pulse-out-rapid > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}

.sk-rectangle-bounce-pulse-out-rapid > div {
  width: 10%;
  height: 100%;
  margin: 0 5%;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
  -webkit-animation: rectangle-bounce-pulse-out-rapid .9s infinite cubic-bezier(.11, .49, .38, .78);
     -moz-animation: rectangle-bounce-pulse-out-rapid .9s infinite cubic-bezier(.11, .49, .38, .78);
       -o-animation: rectangle-bounce-pulse-out-rapid .9s infinite cubic-bezier(.11, .49, .38, .78);
          animation: rectangle-bounce-pulse-out-rapid .9s infinite cubic-bezier(.11, .49, .38, .78);
}

.sk-rectangle-bounce-pulse-out-rapid > div:nth-child(3) {
  -webkit-animation-delay: -.9s;
     -moz-animation-delay: -.9s;
       -o-animation-delay: -.9s;
          animation-delay: -.9s;
}

.sk-rectangle-bounce-pulse-out-rapid > div:nth-child(2),
.sk-rectangle-bounce-pulse-out-rapid > div:nth-child(4) {
  -webkit-animation-delay: -.65s;
     -moz-animation-delay: -.65s;
       -o-animation-delay: -.65s;
          animation-delay: -.65s;
}

.sk-rectangle-bounce-pulse-out-rapid > div:nth-child(1),
.sk-rectangle-bounce-pulse-out-rapid > div:nth-child(5) {
  -webkit-animation-delay: -.4s;
     -moz-animation-delay: -.4s;
       -o-animation-delay: -.4s;
          animation-delay: -.4s;
}

@-webkit-keyframes rectangle-bounce-pulse-out-rapid {
  0% {
    -webkit-transform: scaley(1);
            transform: scaley(1);
  }
  80% {
    -webkit-transform: scaley(.4);
            transform: scaley(.4);
  }
  90% {
    -webkit-transform: scaley(1);
            transform: scaley(1);
  }
}
@-moz-keyframes rectangle-bounce-pulse-out-rapid {
  0% {
    -moz-transform: scaley(1);
         transform: scaley(1);
  }
  80% {
    -moz-transform: scaley(.4);
         transform: scaley(.4);
  }
  90% {
    -moz-transform: scaley(1);
         transform: scaley(1);
  }
}
@-o-keyframes rectangle-bounce-pulse-out-rapid {
  0% {
    -o-transform: scaley(1);
       transform: scaley(1);
  }
  80% {
    -o-transform: scaley(.4);
       transform: scaley(.4);
  }
  90% {
    -o-transform: scaley(1);
       transform: scaley(1);
  }
}
@keyframes rectangle-bounce-pulse-out-rapid {
  0% {
    -webkit-transform: scaley(1);
       -moz-transform: scaley(1);
         -o-transform: scaley(1);
            transform: scaley(1);
  }
  80% {
    -webkit-transform: scaley(.4);
       -moz-transform: scaley(.4);
         -o-transform: scaley(.4);
            transform: scaley(.4);
    }
  90% {
    -webkit-transform: scaley(1);
       -moz-transform: scaley(1);
         -o-transform: scaley(1);
            transform: scaley(1);
  }
}
// sk-rectangle-bounce-pulse-out-rapid }}}

// sk-rotating-plane {{{
.sk-rotating-plane {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
}

.sk-rotating-plane > div {
  width: 100%;
  height: 100%;
  background-color: currentColor;

  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
          animation: sk-rotatePlane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px);
        -ms-transform: perspective(120px);
            transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
        -ms-transform: perspective(120px) rotateY(180deg);
            transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg);
        -ms-transform: perspective(120px) rotateY(180deg)  rotateX(180deg);
            transform: perspective(120px) rotateY(180deg)  rotateX(180deg);
  }
}
@keyframes sk-rotatePlane {
  0% { 
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -ms-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  } 50% { 
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -ms-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  } 100% { 
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -ms-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
// sk-rotating-plane }}}

// sk-square-jelly-box {{{
.sk-square-jelly-box,
.sk-square-jelly-box > div {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.sk-square-jelly-box {
  width: 100%;
  height: 100%;
  font-size: 0;
}

.sk-square-jelly-box > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}

.sk-square-jelly-box > div:nth-child(1),
.sk-square-jelly-box > div:nth-child(2) {
  position: absolute;
  left: 0;
  width: 100%;
}

.sk-square-jelly-box > div:nth-child(1) {
  top: -25%;
  z-index: 99997;
  height: 100%;
  border-radius: 10%;
  -webkit-animation: square-jelly-box-animate .6s -.1s linear infinite;
     -moz-animation: square-jelly-box-animate .6s -.1s linear infinite;
       -o-animation: square-jelly-box-animate .6s -.1s linear infinite;
          animation: square-jelly-box-animate .6s -.1s linear infinite;
}

.sk-square-jelly-box > div:nth-child(2) {
  bottom: -9%;
  height: 10%;
  background: #000;
  border-radius: 50%;
  opacity: .2;
  -webkit-animation: square-jelly-box-shadow .6s -.1s linear infinite;
     -moz-animation: square-jelly-box-shadow .6s -.1s linear infinite;
       -o-animation: square-jelly-box-shadow .6s -.1s linear infinite;
          animation: square-jelly-box-shadow .6s -.1s linear infinite;
}

@-webkit-keyframes square-jelly-box-animate {
  17% {
    border-bottom-right-radius: 10%;
  }
  25% {
    -webkit-transform: translateY(25%) rotate(22.5deg);
            transform: translateY(25%) rotate(22.5deg);
  }
  50% {
    border-bottom-right-radius: 100%;
    -webkit-transform: translateY(50%) scale(1, .9) rotate(45deg);
            transform: translateY(50%) scale(1, .9) rotate(45deg);
  }
  75% {
    -webkit-transform: translateY(25%) rotate(67.5deg);
            transform: translateY(25%) rotate(67.5deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
            transform: translateY(0) rotate(90deg);
  }
}
@-moz-keyframes square-jelly-box-animate {
  17% {
    border-bottom-right-radius: 10%;
  }
  25% {
    -moz-transform: translateY(25%) rotate(22.5deg);
         transform: translateY(25%) rotate(22.5deg);
  }
  50% {
    border-bottom-right-radius: 100%;
    -moz-transform: translateY(50%) scale(1, .9) rotate(45deg);
         transform: translateY(50%) scale(1, .9) rotate(45deg);
  }
  75% {
    -moz-transform: translateY(25%) rotate(67.5deg);
         transform: translateY(25%) rotate(67.5deg);
  }
  100% {
    -moz-transform: translateY(0) rotate(90deg);
         transform: translateY(0) rotate(90deg);
  }
}
@-o-keyframes square-jelly-box-animate {
  17% {
    border-bottom-right-radius: 10%;
  }
  25% {
    -o-transform: translateY(25%) rotate(22.5deg);
       transform: translateY(25%) rotate(22.5deg);
  }
  50% {
    border-bottom-right-radius: 100%;
    -o-transform: translateY(50%) scale(1, .9) rotate(45deg);
       transform: translateY(50%) scale(1, .9) rotate(45deg);
  }
  75% {
    -o-transform: translateY(25%) rotate(67.5deg);
       transform: translateY(25%) rotate(67.5deg);
  }
  100% {
    -o-transform: translateY(0) rotate(90deg);
       transform: translateY(0) rotate(90deg);
  }
}
@keyframes square-jelly-box-animate {
  17% {
    border-bottom-right-radius: 10%;
  }
  25% {
    -webkit-transform: translateY(25%) rotate(22.5deg);
       -moz-transform: translateY(25%) rotate(22.5deg);
         -o-transform: translateY(25%) rotate(22.5deg);
            transform: translateY(25%) rotate(22.5deg);
  }
  50% {
    border-bottom-right-radius: 100%;
    -webkit-transform: translateY(50%) scale(1, .9) rotate(45deg);
       -moz-transform: translateY(50%) scale(1, .9) rotate(45deg);
         -o-transform: translateY(50%) scale(1, .9) rotate(45deg);
            transform: translateY(50%) scale(1, .9) rotate(45deg);
  }
  75% {
    -webkit-transform: translateY(25%) rotate(67.5deg);
       -moz-transform: translateY(25%) rotate(67.5deg);
         -o-transform: translateY(25%) rotate(67.5deg);
            transform: translateY(25%) rotate(67.5deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
       -moz-transform: translateY(0) rotate(90deg);
         -o-transform: translateY(0) rotate(90deg);
            transform: translateY(0) rotate(90deg);
  }
}

@-webkit-keyframes square-jelly-box-shadow {
  50% {
    -webkit-transform: scale(1.25, 1);
            transform: scale(1.25, 1);
  }
}

@-moz-keyframes square-jelly-box-shadow {
  50% {
    -moz-transform: scale(1.25, 1);
         transform: scale(1.25, 1);
  }
}

@-o-keyframes square-jelly-box-shadow {
  50% {
    -o-transform: scale(1.25, 1);
       transform: scale(1.25, 1);
  }
}

@keyframes square-jelly-box-shadow {
  50% {
    -webkit-transform: scale(1.25, 1);
       -moz-transform: scale(1.25, 1);
         -o-transform: scale(1.25, 1);
            transform: scale(1.25, 1);
  }
}
// sk-square-jelly-box }}} 

// sk-square-loader {{{
.sk-square-loader,
.sk-square-loader > div {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.sk-square-loader {
  font-size: 0;
  width: 100%;
  height: 100%;
}

.sk-square-loader > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}

.sk-square-loader > div {
  width: 100%;
  height: 100%;
  background: transparent;
  border-width: 3px;
  border-radius: 0;
  -webkit-animation: square-loader 2s infinite ease;
     -moz-animation: square-loader 2s infinite ease;
       -o-animation: square-loader 2s infinite ease;
          animation: square-loader 2s infinite ease;
}

.sk-square-loader > div:after {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  content: "";
  background-color: currentColor;
  -webkit-animation: square-loader-inner 2s infinite ease-in;
     -moz-animation: square-loader-inner 2s infinite ease-in;
       -o-animation: square-loader-inner 2s infinite ease-in;
          animation: square-loader-inner 2s infinite ease-in;
}

/*
 * Animations
 */
@-webkit-keyframes square-loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-moz-keyframes square-loader {
  0% {
    -moz-transform: rotate(0deg);
         transform: rotate(0deg);
  }
  25% {
    -moz-transform: rotate(180deg);
         transform: rotate(180deg);
  }
  50% {
    -moz-transform: rotate(180deg);
         transform: rotate(180deg);
  }
  75% {
    -moz-transform: rotate(360deg);
         transform: rotate(360deg);
  }
  100% {
    -moz-transform: rotate(360deg);
         transform: rotate(360deg);
  }
}
@-o-keyframes square-loader {
  0% {
    -o-transform: rotate(0deg);
       transform: rotate(0deg);
  }
  25% {
    -o-transform: rotate(180deg);
       transform: rotate(180deg);
  }
  50% {
    -o-transform: rotate(180deg);
       transform: rotate(180deg);
  }
  75% {
    -o-transform: rotate(360deg);
       transform: rotate(360deg);
  }
  100% {
    -o-transform: rotate(360deg);
       transform: rotate(360deg);
  }
}
@keyframes square-loader {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes square-loader-inner {
  0% {
    height: 0;
  }
  25% {
    height: 0;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

@-moz-keyframes square-loader-inner {
  0% {
    height: 0;
  }
  25% {
    height: 0;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

@-o-keyframes square-loader-inner {
  0% {
    height: 0;
  }
  25% {
    height: 0;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

@keyframes square-loader-inner {
  0% {
    height: 0;
  }
  25% {
    height: 0;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
// sk-square-loader }}}

// sk-three-bounce {{{
.sk-three-bounce {
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
}
  
.sk-three-bounce > div {
  margin-top: 35%;
  width: 30%;
  height: 30%;
  background-color: currentColor;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-threeBounce-bounceDelay 1.4s infinite ease-in-out both;
          animation: sk-threeBounce-bounceDelay 1.4s infinite ease-in-out both;
}

.bottom-center > .sk-three-bounce > div,
.bottom-left > .sk-three-bounce > div,
.bottom-right > .sk-three-bounce > div {
  margin-top: 70% !important;
}

.top-center > .sk-three-bounce > div,
.top-left > .sk-three-bounce > div,
.top-right > .sk-three-bounce > div {
  margin-top: 0 !important;
}
  
.sk-three-bounce > div:nth-child(1) {
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}
  
.sk-three-bounce > div:nth-child(2) {
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}
  
@-webkit-keyframes sk-threeBounce-bounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
            transform: scale(1.0);
  }
}
@keyframes sk-threeBounce-bounceDelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
            transform: scale(1.0);
  }
}
// sk-three-bounce }}}

// sk-three-strings
.sk-three-strings {
  width: 100%;
  height: 100%;
}

.sk-three-strings > div {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.sk-three-strings > div:nth-child(1) {
  left: 0%;
  top: 0%;
  -webkit-animation: sk-threeStrings-rotateOne 1s linear infinite;
          animation: sk-threeStrings-rotateOne 1s linear infinite;
  border-bottom: 3px solid currentColor;
}

.sk-three-strings > div:nth-child(2) {
  right: 0%;
  top: 0%;
  -webkit-animation: sk-threeStrings-rotateTwo 1s linear infinite;
          animation: sk-threeStrings-rotateTwo 1s linear infinite;
  border-right: 3px solid currentColor;
}

.sk-three-strings > div:nth-child(3) {
  right: 0%;
  bottom: 0%;
  -webkit-animation: sk-threeStrings-rotateThree 1s linear infinite;
          animation: sk-threeStrings-rotateThree 1s linear infinite;
  border-top: 3px solid currentColor;
}

@-webkit-keyframes sk-threeStrings-rotateOne {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
        -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  } 100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
        -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes sk-threeStrings-rotateOne {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
        -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  } 100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
        -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-webkit-keyframes sk-threeStrings-rotateTwo {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
        -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  } 100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
        -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes sk-threeStrings-rotateTwo {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
        -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  } 100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
        -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-webkit-keyframes sk-threeStrings-rotateThree {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
        -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  } 100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
        -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@keyframes sk-threeStrings-rotateThree {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
        -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  } 100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
        -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

// sk-wandering-cubes {{{
.sk-wandering-cubes {
  margin: auto;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.sk-wandering-cubes > div {
  background-color: currentColor;
  width: 25%;
  height: 25%;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-wanderingCubes-cubeMove 1.8s infinite ease-in-out;
          animation: sk-wanderingCubes-cubeMove 1.8s infinite ease-in-out;
}
  
.sk-wandering-cubes > div:nth-child(2) {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

@-webkit-keyframes sk-wanderingCubes-cubeMove {
  25% {
    -webkit-transform: translateX(290%) rotate(-90deg) scale(0.5);
        -ms-transform: translateX(290%) rotate(-90deg) scale(0.5);
            transform: translateX(290%) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(290%) translateY(290%) rotate(-180deg);
        -ms-transform: translateX(290%) translateY(290%) rotate(-180deg);
            transform: translateX(290%) translateY(290%) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(290%) rotate(-270deg) scale(0.5);
        -ms-transform: translateX(0px) translateY(290%) rotate(-270deg) scale(0.5);
            transform: translateX(0px) translateY(290%) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes sk-wanderingCubes-cubeMove {
  25% { 
    -webkit-transform: translateX(290%) rotate(-90deg) scale(0.5);
        -ms-transform: translateX(290%) rotate(-90deg) scale(0.5);
            transform: translateX(290%) rotate(-90deg) scale(0.5);
  } 50% { 
    -webkit-transform: translateX(290%) translateY(290%) rotate(-179deg);
        -ms-transform: translateX(290%) translateY(290%) rotate(-179deg);
            transform: translateX(290%) translateY(290%) rotate(-179deg);
  } 50.1% { 
    -webkit-transform: translateX(290%) translateY(290%) rotate(-180deg);
        -ms-transform: translateX(290%) translateY(290%) rotate(-180deg);
            transform: translateX(290%) translateY(290%) rotate(-180deg);
  } 75% { 
    -webkit-transform: translateX(0px) translateY(290%) rotate(-270deg) scale(0.5);
        -ms-transform: translateX(0px) translateY(290%) rotate(-270deg) scale(0.5);
            transform: translateX(0px) translateY(290%) rotate(-270deg) scale(0.5);
  } 100% { 
    -webkit-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
// sk-wandering-cubes }}}


.container {
  position: relative;
  text-align: center;
  margin: 6px 12px;
}

.spinner-container {
  width: 60px;
  height: 60px;
  margin-top: 24px;
  margin-bottom: 24px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  color: #00ACC1;
}

.spinner-name {
  text-align: center;

  span {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-size: 75%;
  font-weight: 500;
  font-style: normal;
  }
}

.justify-content-center {
  justify-content: center!important;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0;
}